welcome/*
foundations/*
foundations/project/*
gmail*.pdf
coupon.txt
OOP/primer_*
*/a.out
**/build/*
**build/
**/project/**/build/*
*/*/project/**/build/*
memory_management/project/provided/*
*/project/*/.gitignore
capstone/*

